/* HEADER image, content */
section.not-homepage {
	max-height: 120px;
	height: 120px;
	overflow: hidden;
	background: -webkit-linear-gradient(top, #25211e 0%, rgba(37,33,30,0) 100%);
}

/* footer */
footer {
	height: 50px;
	background-color: rgb(27, 27, 27);
	display: flex;
	justify-content: center;
	align-items: center;
}
.footer-left a, .footer-right form > span,
.footer-right form > label, .follow > a {
	text-decoration: none;
	color: #e5dfd9;
	text-transform: uppercase;
	font-size: .7rem;
	padding: 0px 1rem;
}
footer .footer-right form input {
	border: none;
	outline: none;
	border-bottom: .1em solid #e5dfd9;
	background-color: transparent;
	color: #e5dfd9;
	padding: 0rem 0rem .1rem 0rem;
	font-size: 13px;
}
footer div > a:hover{
	color: #fff;
}
footer div.footer-right button {
	background-color: transparent;
	color: #e5dfd9;
    
    padding: .1em .5rem;
}
footer div.footer-right input:valid ~ button:hover {
	cursor: pointer;
	background-color: #e5dfd9;
    color: #313131;
}
div.footer-left, div.footer-right {
	float: left;
	width: 50%;
}

div.footer-right form , div.footer-right .follow,
div.wapper-product-info > div {
    float: left;
}

/* Detail product */
div.wapper-product-info {
	display: flex;
	justify-content: space-around;
	margin-bottom: 5rem !important;
	overflow: hidden;
	box-sizing: border-box;
}

div.left-products-images {
	position: relative;
	/*left: 9%;
	width: 9%;
	float: left;*/
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-sizing: border-box;
	overflow: hidden;
}
div.left-products-images img {
	width: 100%;
	cursor: pointer;
}

div.middle-products-images {
	position: relative;
	top: 0;
	left: 0;
	float: left;
}
div.middle-products-images img {
	width: 100%;
}
div.right-products-info {
	color: #313131;
	position: relative;
	float: left;
}
div.right-products-info > div {
	text-transform: uppercase;
	margin-bottom: 2rem;
}
div.product-name {
	text-transform: uppercase;
	font-size: 1rem;
	font-weight: 200;
}
div.right-products-info div.product-size ul > li, div.right-products-info div.product-size span,
	div.right-products-info div.product-color span:first-child {
	float: left;
	list-style: none;
	margin-right: .7rem;
}
div.right-products-info div.product-fit span {
 	margin-bottom: 1rem;
 	display: block;
}
div.right-products-info div.product-size ul li input[type=radio] {
    margin-right: .1rem;
    display: none;
}
div.right-products-info div.product-size ul li input[type=radio]:checked+label {
	padding: 0.2rem;
	border: .1rem solid #e5dfd9;
	text-decoration: underline;
	cursor: default;
}
div.right-products-info div.product-fit p {
	font-size: .9em;
	line-height: 1.66;
	text-transform: capitalize;
}
div.right-products-info div.product-button button {
	color: #e5dfd9;
	background-color: #313131;
	padding: .7rem .9rem;
	margin-right: 0.5rem;
	cursor: pointer;
}
 /*other products */
/*div.container.wrapper-other-products {
	display: flex;
	justify-content: space-between;
	overflow: hidden;
	box-sizing: border-box;
}*/
/*div.other-product {
	width: 22%;
}*/
div.product-info {
    text-align: center;
	margin-top: .7rem;
}
div.other-product a {
    text-decoration: none;
    color: #313131;
}
div.other-product a:hover {
	color: #000;
}
div.other-product a img {
    width: 100%;
}


@media only screen  and (min-width : 1224px) {
	div.right-products-info {
		max-width: 20%;
		left: -8%;
	}
	div.middle-products-images {
		max-width: 40%;
	}
	div.left-products-images {
		left: 9%;
		width: 9%;
		float: left;
	}
	
	 /*other products */
	div.container.wrapper-other-products {
		display: flex;
		justify-content: space-between;
		overflow: hidden;
		box-sizing: border-box;
	}
	div.other-product {
		width: 22%;
	}
}

@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
	div.right-products-info {
		
	}
	div.middle-products-images {
		left: 1.7rem;
	}
	div.left-products-images {
		width: 30%;
	}
	div.left-products-images img {
	    padding-bottom: 1rem;
	}
	 /*other products */
	div.container.wrapper-other-products {
		
	}
	div.other-product {

	}
}















