/* HEADER image, content */
section.not-homepage {
	max-height: 120px;
	height: 120px;
	overflow: hidden;
	background: -webkit-linear-gradient(top, #25211e 0%, rgba(37,33,30,0) 100%);
}
/* Detail product */
div.wapper-product-info {
	margin-bottom: 5rem !important;
	/*display: flex;*/
}
div.left-products-images img {
	width: 100%;
	cursor: pointer;
}
div.middle-products-images img {
	width: 100%;
}
div.right-products-info {
	color: #313131;
	position: relative;
}
div.right-products-info > div {
	text-transform: uppercase;
	margin-bottom: 2rem;
}
div.product-name {
	text-transform: uppercase;
	font-size: 1rem;
	font-weight: 200;
}
div.right-products-info div.product-size ul > li, div.right-products-info div.product-size span,
	div.right-products-info div.product-color span:first-child {
	float: left;
	list-style: none;
	margin-right: .7rem;
}
div.right-products-info div.product-fit span {
 	margin-bottom: 1rem;
 	display: block;
}
div.right-products-info div.product-size ul li input[type=radio] {
    margin-right: .1rem;
    display: none;
}
div.right-products-info div.product-size ul li input[type=radio]:checked+label {
	padding: 0.2rem;
	border: .1rem solid #e5dfd9;
	text-decoration: underline;
	cursor: default;
}
div.right-products-info div.product-fit p {
	font-size: .9em;
	line-height: 1.66;
	text-transform: capitalize;
}
div.right-products-info div.product-button button {
	color: #e5dfd9;
	background-color: #313131;
	padding: .7rem .9rem;
	margin-right: 0.5rem;
	cursor: pointer;
}
 /*other products*/
div.container.wrapper-other-products {
	display: flex;
	justify-content: space-between;
	overflow: hidden;
	box-sizing: border-box;
}
/*div.other-product {
	width: 22%;
}*/
div.product-info {
    text-align: center;
	margin-top: .7rem;
}
div.other-product a {
    text-decoration: none;
    color: #313131;
}
div.other-product a img {
    width: 100%;
}
div.other-product a:hover {
	color: #000;
}

@media only screen and (min-device-width: 321px) and (max-device-width: 480px) {
	div.right-products-info {
		padding: 2rem;
	}

	.right-products-info > div {
	    font-size: .8em;
	}

	.right-products-info div > span {
	}

div.right-products-info div.product-size span, div.right-products-info div.product-color span:first-child, ul.product-list-size li {
    font-size: 1.8rem;
}
	div.middle-products-images {
		
	}
	div.left-products-images {
		position: relative;
	}

	div.left-products-images img {
	    position: absolute;
	}
	div.left-products-images img._detailImgActive {
	    z-index: 2;
	}
	div.right-products-info div.product-button button {
	    width: 20%;
	}
	
	 /*other products */
	div.other-product {
		
	}
	/* Footer */
	footer {
		
	}
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
	div.wapper-product-info {
		display: flex;
	}
	div.right-products-info {
		width: 45%;
	}
	div.middle-products-images {
		width: 60%;
		margin-right: .7rem;
	}
	div.left-products-images {
		width: 15%;
		margin-right: .7rem;
	}
	
	 /*other products */
	div.other-product {
		width: 22%;
	}
	/* Footer */
	footer {
		/*position: absolute;*/
		width: 100%;
	}
}
@media only screen and (min-width : 1200px) {
	div.wapper-product-info {
		justify-content: space-around;
		overflow: hidden;
		box-sizing: border-box;
		display: flex;
	}
	div.middle-products-images {
		position: relative;
		top: 0;
		left: 0;
		float: left;
		width: 40%;
	}
	
	div.right-products-info {
		width: 20%;
		left: -8%;
		float: left;
	}
	div.left-products-images {
		position: relative;
		left: 9%;
		width: 9%;
		float: left;
		/*display: flex;*/
		flex-direction: column;
		justify-content: space-between;
		box-sizing: border-box;
		overflow: hidden;
	}
	 /*other products */
	div.container.wrapper-other-products {
		display: flex;
		justify-content: space-between;
		overflow: hidden;
		box-sizing: border-box;
	}
	div.other-product {
		width: 22%;
	}
}


















